.mt {
	margin-top: 50px;
}
.mt label {
	font-weight: 600;
}
.contact-form {
	border: 0;
	margin: 15px auto;
	border-bottom: 2px solid rgba(0,0,0,.3);
	width: 100%;
	display: block;
	height: 35px;
	color: rgba(0,0,0,.3);
	transition: all .3s ease;
	padding: 25px auto;
}
.contact-form:focus {
	border: 0;
	outline: 0;
	color: rgba(0,0,0,.8);
	border-bottom: 2px solid black;
	transform: scale(1.1);
}
.contact-form-submit {
	border: 0;
	margin-top: 100px;
	width: 100%;
	height: 50px;
	background: black;
	color: #fff;
	border-radius: 15px;
	font-size: 1.3em;
	transition: all .4s ease-in-out;
}
.contact-form-submit:hover {
	border: 3px solid black;
	background: #fff;
	color: black;
}
.activity {
	border: 0;
	border: 2px solid rgba(0,0,0,.3);
	width: 100%;
	height: 35px;
	transition: all .3s ease;
}
