html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
}
body p {
  font-weight: 100;
}

.row-wrapper {
  display: block;
  padding: 0;
  margin: 0;
}
.row-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.photo-box-column {
  display: table-cell;
  width: 25%;
  margin: 0;
  padding: 0;
}

.photo-box-reveal {
  position: relative;
  line-height: 0;
  min-width: 100%;
  height: auto;
  margin-top: -2px;
  text-align: left;
  overflow: hidden;
}
.photo-box-reveal .photo-box a {
  color: #fff;
  display: block;
}
.photo-box-reveal:hover img.fade-zoom {
  transform: scale3d(1.2, 1.2, 1);
  opacity: 0;
}
.photo-box-reveal:hover.fade-reveal {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}
.photo-box-reveal:hover .photo-overlay-text-title {
  opacity: 0;
  transform: translateY(100%);
}
.photo-box-reveal:hover .photo-overlay-text h3,
.photo-box-reveal:hover .photo-overlay-text p {
  opacity: 1;
  transform: translateY(0%);
}
.photo-box-reveal:hover .color-overlay {
  opacity: 1;
  transform: translateY(10%);
}
.photo-box-reveal p {
  line-height: 1.5;
  max-width: 70%;

}
.photo-box-reveal img {
  min-width: 100%;
  width: 100%;
  height: 400px;
}
.photo-box-reveal img.fade-zoom {
  opacity: 1;
  transition-duration: .6s;
  transition-property: opacity, transform;
  transform: scale3d(1.1, 1.1, 1);
}
.photo-box-reveal img.fade-reveal {
  position: absolute;
  transition-duration: .4s;
  transition-property: transform;
  transform-timing-function: ease-in-out;
  transform: scale3d(1.1, 1.1, 1);
}
.photo-box-reveal .photo-overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-right: 30px;
  padding-left: 40px;
  margin-bottom: 20px;
}
.photo-box-reveal .photo-overlay-text p {
  opacity: 0;
  transition-duration: .8s, .3s;
  transition-property: opacity, transform;
  transition-delay: .2s;
  transform-timing-function: ease-in-out;
  transform: translateY(100%);
}
.photo-box-reveal .photo-overlay-text h3 {
  opacity: 0;
  transition-duration: .8s, .3s;
  transition-property: opacity, transform;
  transition-delay: .2s;
  transform-timing-function: ease-in-out;
  transform: translateY(-100%);
}
.photo-box-reveal .photo-overlay-title {
  color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  /* For centering text inside .photo-overlay */
  flex-direction: column;
  justify-content: center;
  align-items: left;
  z-index: 2;
  padding-left: 40px;
  padding-right: 40px;
}
.photo-box-reveal .photo-overlay-title .photo-overlay-text-title {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}
.photo-box-reveal .photo-overlay-text-title {
  opacity: 1;
  transition-duration: .2s, .4s;
  transition-delay: 0s;
  transition-property: opacity, transform;
  transform-timing-function: ease-in;
}
.photo-box-reveal .photo-overlay {
  color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  /* For centering text inside .photo-overlay */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity .3s;
}
.photo-box-reveal .photo-overlay:hover {
  opacity: 1;
}
.photo-box-reveal .color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition-duration: .2s, .6s;
  transition-property: opacity, transform;
  transform-timing-function: ease-in-out;
  transform: translateY(100%);
}
.photo-box-reveal .color-overlay.iron {
  background-image: linear-gradient(to top, #ad1f23, rgba(255, 255, 255, 0) 75%);
}
.photo-box-reveal .color-overlay.cap {
  background-image: linear-gradient(to top, #266497, rgba(255, 255, 255, 0) 75%);
}
.photo-box-reveal .color-overlay.hulk {
  background-image: linear-gradient(to top, #253324, rgba(255, 255, 255, 0) 75%);
}
