@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamMedium.ttf') format('truetype');
}
* {
  max-width: 100%;
  font-family: 'Gotham', sans-serif;
}
.divider {
  width: 10%;
  height: 3px;
  background: black;
}
.divider2 {
  width: 75%;
  height: 1px;
  background: #fff;
  margin-bottom: 20px;
}


/* NAVBAR */
.navbar {
  background-color: black;
  min-height: 75px;
}
.navbar .main-navbar {
  margin-top: -35px;
}
.navbar p {
  color: #fff;
}
.navbar a {
  color: white !important;
  transition: all .3s ease-in-out;
}
.navbar a.active {
  color: rgba(255,255,255,.5) !important;
}
.navbar a:hover {
  color: rgba(255,255,255,.5) !important;
}


/* HOME */
.home {
  width: 100%;
  height: 510px;
}
.home img {
  margin: 50px auto -75px auto;
  width: 125px;
}
.home .background {
  width: 100%;
  height: 600px;
  /*
    FIXME:
    background: url('assets/images/background-home.jpg') no-repeat;
  */
  background: url('https://upload.cc/i/OR2Iln.jpeg') no-repeat top;
  background-size: cover;
}
.home span {
  position: absolute;
  bottom: 10px;
  right: 90px;
  font-size: 2.5em;
  color: #fff;
  font-weight: 600;
  text-transform:uppercase;
}



/* MORE */
#more img {
  margin: 50px auto;
  width: 125px;
}
.more-text h3, .more-text p {
  font-weight: 600;
}



/* ABOUT */
.about {
  width: 100%;
  height: auto;
}
.about-bg {
  width: 100%;
  height: 525px;
  background: url('https://upload.cc/i/EGy1Rg.jpeg') no-repeat bottom;
  background-size: cover;
}
.about-bg img, .program img, .contribute img {
  margin: 50px auto;
  width: 125px;
}
.about span {
  position: absolute;
  bottom: 40%;
  left: 50px;
  font-size: 3.5em;
  color: #fff;
  font-weight: 600;
}
.about-text {
  margin: 150px auto;
  width: 80%;
}
.about-text h1 {
  font-weight: 600;
  margin: 20px 0;
}
.about-text p {
  font-weight: 600;
  text-align: justify;
  word-spacing: 1em;
  text-align-last: justify;
}


/* PROGRAM */
.program {

}
.program-heading {
  padding-left: 25px;
  font-weight: 600;
  margin-bottom: 125px;
}
.left-program {
  width: 100%;
  height: auto;
  background: black;
  color: #fff;
  height: auto;
}
.right-program {
  width: 100%;
  height: auto;
  background: #fff ;
  color: black;
  text-align: right;
}
.right-program p {
  text-align: justify;
  text-align-last: justify;
}
.right-text, .left-text {
  padding: 75px 0;
}
.left-program h1, .right-program h1 {
  font-weight: 600;
}

/* PEOPLE */
.people {
  
}
/* CONTRIBUTE */
.contribute {

}
.contribute h1 {
  padding-left: 25px;
  font-weight: 600;
  margin-bottom: 125px;
}
.contribute-text span {
  font-size: 3em;
  line-height: 50px;
  display: inline-block;
  width: auto;
  padding: 5px;
  height: auto;
  text-transform: uppercase;
  color: #fff;
  background: black;
  letter-spacing: 5px;
  transition: all .4s ease-in-out;
}
.contribute-text span:hover {
  color: black;
  background: #fff;
  box-shadow: 2px 2px 5px #f2f2f2;
}


/* CARNIVAL */
.carnival {

}
.carnival img {
  margin: 50px auto -50px auto;
  width: 125px;
}
.carnival-wrapper {
  background : url('https://upload.cc/i/PicupX.jpeg') no-repeat bottom;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.carnival-text {
  padding-top: 125px;
  width: 19%;
}
.carnival-text h1 {
  font-size: 5em;
  font-weight: 600;

}
.carnival .book {
  border: 0;
  border: 3px solid black;
  background: transparent;
  border-radius: 15px;
  float: right;
  padding: 0 25px;
  transition: all .3s ease-in;
}
.carnival .book:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

/* CONTACT */
.contact {
  width: 100%;
  background: black;
  min-height: 300px;
  color: #fff !important;
}
.contact .mt {
  margin-top: 50px;
}
.contact a {
  color: #fff;
  transition: all .3s ease-in;
}
.contact a:hover {
  text-decoration: none;
  color: rgba(255,255,255,.5);
}
.contact-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.contact img {
  margin: 50px auto;
  width: 125px;
}
.contact .ct {
  font-size: 1em;
  font-weight: 600;
}
.contact .ct i {
  font-size: 3em;
  color: black;
}

.people {
  margin: 100px auto;
}
.people-container {
  width: 85%;
  margin: 0 auto;
}
.people h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
}
.people h2 {
  display: inline-block;
  padding: 0 25px;
  background: rgba(255,0,0,.6);
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 990px) {
  .navbar p {
    display: none;
  }
}
