.mt {
	margin: 50px auto;
}
.mt label {
	font-weight: 600;
}
.mo label {
	cursor: pointer !important;
	font-weight: 500;
}
.fw {
	width: 80% ;
    float: none;
    margin: 50px auto !important;
}
@media only screen and (max-width: 500px) {
	.fw {
	width: 100% !important;
    float: none;
}
}
@media only screen and (max-width: 600px) {
	.contact-form {
		margin: 15px 25px;
	}
	.contact-form-submit {
		margin: 0 25px;
	}
	.contact-form:focus {
	border: 0;
	outline: 0;
	color: rgba(0,0,0,.8);
	border-bottom: 2px solid black;
	transform: scale(1.1);
	width: 95%;
	}
}
.contact-form {
	border: 0;
	margin: 15px auto;
	border-bottom: 2px solid rgba(0,0,0,.3);
	width: 100%;
	display: block;
	height: 35px;
	color: rgba(0,0,0,.3);
	transition: all .3s ease;
	padding: 25px auto;
}
.contact-form:focus {
	border: 0;
	outline: 0;
	color: rgba(0,0,0,.8);
	border-bottom: 2px solid black;
}
.contact-form-submit {
	border: 0;
	margin-top: 100px;
	width: 100%;
	height: 50px;
	background: black;
	color: #fff;
	border-radius: 15px;
	font-size: 1.3em;
	transition: all .4s ease-in-out;
}
.contact-form-submit:hover {
	border: 3px solid black;
	background: #fff;
	color: black;
}
.activity {
	border: 0;
	border: 2px solid rgba(0,0,0,.3);
	width: 100%;
	height: 35px;
	transition: all .3s ease;
}
.mentor {
	color: rgba(0,0,0,0.6);
	font-size: .9em;
}
.checkbox {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 0.5rem;
  border-color: #000;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}
